.intro {
    text-align: center;
}

.intro-name {
    font-size: 8vw;
    font-weight: 900;
    font-family: 'Major Mono Display', monospace;
}

.description {
    font-size: 26px;
    padding: 40px 0px;
    font-weight: bold;
    font-family: 'Major Mono Display', monospace;
}

.main-content {
    padding: 160px 0px;
}

.down-arrow {
    display: inline-block;
    transform: rotate(90deg);
    font-size: 16px;
    color: white;
    background-color: rgba(0,0,0,0.4); 
    border: 1px solid white;
    padding: 18px;
    border-radius: 50%;
    font-family: 'Major Mono Display', monospace;
}

.down-arrow:hover {
    background-color: black;
    color: white;
}